.news_body {
     animation: scroll 25s linear infinite;
}

.news_body::after {
     content: "";
     width: 1px;
     height: 100%;
     background: #b8b8b8;
     position: absolute;
     top: 0;
     right: 0;
}

.news_body:last-child::after {
     display:
          none;
}

@keyframes scroll {
     from {
          transform:
               translateX(100%);
     }

     to {
          transform:
               translateX(-100%);
     }
}