* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     scroll-behavior: smooth;
     user-select: none;
     font-family: var(--font-family);

}

.contact-border {
     height: 30px;
     width: 30px;
     background: #0d6efd;
}