@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
     --font-family: "Noto Sans", sans-serif;
     --color-raw-white: rgba(255, 255, 255);
     --color-raw-black: rgba(0, 0, 0);
     --color-raw-red: rgba(rgba(228, 66, 66));
     --color-raw-blue: rgba(3, 169, 244);
     --color-raw-dark-blue: rgba(57, 100, 208);
     --color-raw-purple: rgba(122, 65, 216);
     --color-raw-green: rgba(14, 194, 129);
     --color-raw-green-d2: rgba(11, 155, 103);
     --color-raw-grey01: rgba(249, 249, 251);
     --color-raw-grey02: rgba(246, 247, 248);
     --color-raw-grey03: rgba(237, 238, 240);
     --color-raw-grey04: rgba(220, 221, 223);
     --color-raw-grey05: rgba(203, 204, 206);
     --color-raw-grey06: rgba(165, 166, 167);
     --color-raw-grey07: rgba(108, 109, 111);
     --color-raw-grey08: rgba(72, 73, 74);
     --color-raw-grey09: rgba(43, 44, 45);
     --color-raw-grey10: rgba(29, 30, 31);
     --color-raw-secondary-yellow: rgba(243, 225, 57);
     --color-raw-secondary-darkblue: rgba(57, 100, 208);
     --color-raw-secondary-orange: rgba(236, 150, 48);
     --color-raw-secondary-pink: rgba(209, 111, 188);
     --color-raw-secondary-purple: rgba(122, 65, 216);
     --color-raw-orange16: rgba(228, 144, 66);
     --color-brand-primary: rgba(3, 169, 244);
     --color-brand-secondary: rgba(5, 199, 246);
     --color-brand-logo-nav: rgba(255, 255, 255);
     --color-alert-fill-success: rgba(14, 194, 129);
     --color-alert-typo-success: rgba(11, 155, 103);
     --color-alert-error: rgba(228, 66, 66);
     --color-typo-default: rgba(43, 44, 45);
     --color-typo-mid1: 63, 64, 65;
     --color-typo-mid2: rgba(72, 73, 74);
     --color-typo-mid3: rgba(108, 109, 111);
     --color-typo-light: rgba(165, 166, 167);
     --color-typo-inverse1: rgba(255, 255, 255);
     --color-typo-inverse2: hsla(0, 0%, 100%, 0.85);
     --color-typo-nav-tag-selected: rgba(3, 169, 245);
     --color-typo-primary: rgba(3, 169, 245);
     --color-typo-primary-hover: rgba(3, 152, 220);
     --color-typo-success: rgba(11, 155, 103);
     --color-typo-error: rgba(228, 66, 66);
     --color-fill-canvas: rgba(249, 249, 251);
     --color-fill-canvas02: rgba(237, 238, 240);
     --color-fill-content-prime: rgba(255, 255, 255);
     --color-fill-content-alternate: rgba(246, 247, 248);
     --color-fill-primary: rgba(3, 169, 244);
     --color-fill-contrast: #000;
     --color-fill-pageoverlay: rgba(0, 0, 0, 0.85);
     --color-fill-fade-to-contrast: linear-gradient(180deg, transparent, #000);
     --color-fill-fade-to-content: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff);
     --color-fill-error: rgba(228, 66, 66);
     --color-fill-success: rgba(14, 194, 129);
     --color-fill-primary-gradient: linear-gradient(209.89deg, #04c8f5, #0569ff 72.99%);
     --color-fill-navbar: rgba(3, 169, 244);
     --color-fill-nav-hover: rgba(3, 152, 220);
     --color-fill-nav-fade-right-primary: linear-gradient(270deg, #03a9f4, rgba(rgba(3, 169, 244), 0.27) 87.5%);
     --color-fill-nav-fade-left-primary: linear-gradient(270deg, rgba(rgba(3, 169, 244), 0.27), #03a9f4 87.5%);
     --color-fill-nav-fade-right-contrast: linear-gradient(270deg, #1d1e1f, rgba(rgba(29, 30, 31), 0.27) 87.5%);
     --color-fill-nav-fade-left-contrast: linear-gradient(270deg, rgba(rgba(29, 30, 31), 0.27), #1d1e1f 87.5%);
     --color-fill-nav-fade-right-canvas: linear-gradient(270deg, #f9f9fb 40.56%, rgba(rgba(249, 249, 251), 0) 87.5%);
     --color-fill-nav-fade-left-canvas: linear-gradient(270deg, rgba(rgba(249, 249, 251), 0), #f9f9fb 51.95%);
     --color-fill-nav-fade-right: linear-gradient(270deg, #fff 46.35%, hsla(0, 0%, 100%, 0));
     --color-fill-nav-fade-left: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #fff 57.29%);
     --color-fill-hsb: rgba(3, 152, 220);
     --color-fill-hsb-scorecell: rgba(255, 255, 255);
     --color-fill-subnav: rgba(255, 255, 255);
     --color-fill-skeleton-light: rgba(246, 247, 248);
     --color-fill-skeleton-mid: 230, 231, 233;
     --color-fill-joyride: rgba(0, 0, 0, 0.72);
     --color-fill-highlight: rgba(3, 169, 244);
     --color-fill-gradient: linear-gradient(180deg, #000, #050505 18.23%, #161616 63.54%, #181a1c);
     --color-icon-primary: rgba(3, 169, 244);
     --color-icon-default: rgba(43, 44, 45);
     --color-icon-inverse: rgba(255, 255, 255);
     --color-icon-mid: rgba(108, 109, 111);
     --color-icon-light: rgba(165, 166, 167);
     --color-icon-hover: rgba(3, 152, 220);
     --color-icon-success: rgba(14, 194, 129);
     --color-icon-success-hover: rgba(11, 155, 103);
     --color-icon-error: rgba(228, 66, 66);
     --color-icon-error-hover: rgba(185, 53, 53);
     --color-line-default: rgba(237, 238, 240);
     --color-line-default-translucent: rgba(0, 0, 0, 0.1);
     --color-line-contrast: 0, 0, 0;
     --color-line-inverse: rgba(108, 109, 111);
     --color-line-inverse-translucent: hsla(0, 0%, 100%, 0.2);
     --color-line-inverse-contrast: rgba(255, 255, 255);
     --color-line-nav: rgba(255, 255, 255);
     --color-line-primary: rgba(3, 169, 244);
     --color-ui-stroke-default: rgba(203, 204, 206);
     --color-ui-stroke-default-hover: rgba(rgba(3, 169, 244), 0.2);
     --color-ui-stroke-contrast: rgba(43, 44, 45);
     --color-ui-stroke-primary: rgba(3, 169, 244);
     --color-ui-fill-default: rgba(255, 255, 255);
     --color-ui-fill-default-hover: rgba(rgba(3, 169, 244), 0.1);
     --color-ui-fill-primary: rgba(3, 169, 244);
     --color-ui-fill-primary-hover: rgba(3, 152, 220);
     --color-ui-fill-translucent: rgba(rgba(3, 169, 244), 0.1);
     --color-ui-fill-translucent-hover: rgba(rgba(3, 169, 244), 0.2);
     --color-ui-fill-alternate: rgba(237, 238, 240);
     --color-ui-fill-mid: rgba(203, 204, 206);
     --color-ui-fill-nav-tag-selected: rgba(255, 255, 255);
     --color-ui-fill-blue-highlight: 230, 246, 254;
     --color-ui-fill-success: rgba(14, 194, 129);
     --color-ui-fill-success-hover: rgba(11, 155, 103);
     --color-ui-fill-success-translucent: rgba(rgba(14, 194, 129), 0.12);
     --color-ui-fill-error: rgba(228, 66, 66);
     --color-ui-fill-error-hover: rgba(185, 53, 53);
     --color-ui-fill-error-translucent: rgba(rgba(228, 66, 66), 0.12);
     --color-ui-fill-standout: #000;
     --color-ui-fill-default-translucent: rgba(0, 0, 0, 0.1);
     --color-ui-fill-contrast: #000;
     --color-shadow-default: rgba(0, 0, 0, 0.12);
     --color-shadow-elevated: rgba(0, 0, 0, 0.16);
     --color-shadow-button-primary: rgba(56, 171, 252, 0.1);
     --color-shadow-button-tertiary: hsla(0, 0%, 66%, 0.1);
     --font-size-text-3xs: 0.5rem;
     --font-size-text-2xs: 0.625rem;
     --font-size-text-xs: 0.75rem;
     --font-size-text-sm: 0.875rem;
     --font-size-text-base: 1rem;
     --font-size-text-lg: 1.125rem;
     --font-size-text-xl: 1.25rem;
     --font-size-text-2xl: 1.5rem;
     --font-size-text-3xl: 1.75rem;
     --font-size-text-4xl: 2rem;
     --font-size-text-5xl: 3rem;
     --font-size-text-6xl: 3.75rem;
     --font-size-text-7xl: 4.5rem;
     --font-size-text-8xl: 6rem;
     --font-size-text-9xl: 8rem;
}