@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
     --font-family: "Noto Sans", sans-serif;
     --primary-color: #eeeeee9d;
     /* --secondary-color: #267A94; */
     --secondary-color: #3f5eb1;
     --white: #ffffff;
     --grey: #b4a0a0;
     --black: #000000;
}

.bg-main {
     background: var(--primary-color);
}

.text-main {
     color: var(--primary-color);
}

.bg-second {
     background: var(--secondary-color);
}

.text-second {
     color: var(--secondary-color);
}


.bg-white {
     background: var(--white);
}

.text-white {
     color: var(--white);
}

.bg-grey {
     background: var(--grey);
}

.text-grey {
     color: var(--grey);
}

.bg-black {
     background: var(--black);
}

.text-black {
     color: var(--black);
}



.sliding_button {
     height: 70px;
     width: 70px;
     border-radius: 50%;
     background: var(--secondary-color);
     opacity: 0.3;
}

.profile {
     width: 150px;
     height: 150px;
     object-fit: cover;
     border-radius: 50%;
}

.darkmode {
     background: var(--black);
     color: var(--white);
}

.fs-14 {
     font-size: 14px;
}

.fs-16 {
     font-size: 16px;
}

.fs-12 {
     font-size: 12px;
}

.border-right-1 {
     border-right: 1px solid #ccc;
     /* You can change the color as needed */
}